<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <!--ngForm para gestionar el formulario -->
    <form #loginForm="ngForm" (ngSubmit)="loginUsuario()" novalidate>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="text" required></ion-input>
      </ion-item>
      <!-- Mostrar error si el campo no es válido -->
      <div *ngIf="loginForm.submitted && !loginForm.controls['email']?.valid" class="error-message">
        El correo es obligatorio
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      <!-- Mostrar error si el campo no es válido -->
      <div *ngIf="loginForm.submitted && !loginForm.controls['password']?.valid" class="error-message">
        La contraseña es obligatoria
      </div>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.form.valid">Iniciar Sesión</ion-button>
    </form>

    <p>¿No tienes una cuenta? Regístrate</p>
    <ion-button expand="block" fill="outline" [routerLink]="'/registro'">Ir al Registro</ion-button>
  </div>
</ion-content>
